name: CI_build

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      matrix:
        build_configuration: [Release, Debug]
        build_platform: [x64, Win32, ARM64]
        
    steps:
    - name: Checkout repo
      uses: actions/checkout@v6

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v2

    - name: MSBuild of plugin dll
      working-directory: vs.proj\
      run: msbuild NppPluginDemo.vcxproj /m /p:configuration="${{ matrix.build_configuration }}" /p:platform="${{ matrix.build_platform }}"

    - uses: olegtarasov/get-tag@v2.1.4
      id: tagName

    - name: zip artifacts for x64
      if: matrix.build_platform == 'x64' && matrix.build_configuration == 'Release'
      run: |
           Remove-Item bin64\*.ipdb
           Remove-Item bin64\*.iobj
           7z a pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip .\bin64\*

    - name: Archive artifacts for x64
      if: matrix.build_platform == 'x64' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v6
      with:
          name: pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip
          path: pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip

    - name: zip artifacts for Win32
      if: matrix.build_platform == 'Win32' && matrix.build_configuration == 'Release'
      run: |
           Remove-Item bin\*.ipdb
           Remove-Item bin\*.iobj
           7z a pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip .\bin\*

    - name: Archive artifacts for Win32
      if: matrix.build_platform == 'Win32' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v6
      with:
          name: pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip
          path: pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip

    - name: zip artifacts for ARM64
      if: matrix.build_platform == 'ARM64' && matrix.build_configuration == 'Release'
      run: |
           Remove-Item arm64\*.ipdb
           Remove-Item arm64\*.iobj
           7z a pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip .\arm64\*

    - name: Archive artifacts for ARM64
      if: matrix.build_platform == 'ARM64' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v6
      with:
          name: pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip
          path: pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip

    - name: Create release on tagging
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
          files: pluginDemo_${{ steps.tagName.outputs.tag }}_${{ matrix.build_platform }}.zip

